* html {
  font-size: 16px;
  box-sizing: border-box;
}

html, body, #root, .App, .App-content {
  height: 100%;
}

.App {
  font-size: 1.8rem;
}

.App-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 0 1 auto;
}

.number-input-group {
  background-color: #e3e3e3;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.number-input-group.active {
  background-color: #ee6c4dff;
  color: #fff;
}

.frequency-input-group {
  background: #e0fbfcff;
}

.label {
  display: block;
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
}

.input, .button {
  padding: 1rem;
  font-size: 1.2rem;
}

.input {
  flex: 1 0 auto;
  margin-right: 0.5rem;
}

.button {
  flex: 0 0 8rem;
}

.reporting-frequency {
  background-color: #293241;
  color: #fff;
  padding: 1rem;
}

.frequency-logger-container {
  padding: 1rem;
  flex: 1 0;
}

.frequency-logger-list {
  margin: 0;
  padding-inline-start: 0;
}

.frequency-logger-list-item {
  list-style: none;
}
